.nav-tag-group {
  @apply flex;
  margin-bottom: 15px;
  .tag-tabs {
    flex: 1;
    &:deep(.el-tabs__header) {
      margin: 0;
    }
    &:deep(.el-tabs__nav) {
      border: 0;
    }
    &:deep(.el-tabs__item) {
      @apply bg-white mx-1 rounded;
      border: 0;
      height: 32px;
      line-height: 32px;
    }
    // &:deep(.el-tabs__nav-wrap.is-scrollable) {
    //   padding: 0 30px;
    // }
    // &:deep(.el-tabs__nav-next), :deep(.el-tabs__nav-prev) {
    //     line-height: 35px;
    // }
    // &:deep(.is-disabled) {
    //     cursor: not-allowed;
    //     @apply text-gray-300;
    // }
  }
  .el-dropdown-div {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    flex-shrink: 0;
    @apply flex items-center justify-center bg-white text-center rounded;
    .el-dropdown {
      margin-top: 3px;
    }
  }
}
