.el-main {
  @apply flex flex-col;
  padding-bottom: 0;
  .content {
    flex: 1 0 auto;
    height: 0;
    overflow-y: auto;
  }
  .footer {
    @apply flex items-center justify-center h-[50px];
  }
}
