.layout {
  height: 100vh;
  .el-header {
    @apply bg-indigo-700;
  }
  .el-aside {
    @apply shadow-md;
    width: auto;
    max-width: 300px;
  }
  .el-main {
    @apply bg-light-200;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    .main-container {
      flex: 1 0 auto;
      overflow-y: auto;
      overflow-x: hidden;
      height: 0;
    }
  }
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s;
}

// 进入动画的起始状态
.fade-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
// 进入动画的结束状态
.fade-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
// 离开动画的起始状态
.fade-leave-from {
  opacity: 1;
  transform: translateX(0px);
}

// 离开动画的结束状态
.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
